body {
    font-family: Inter, Tajawal, sans-serif, apple color emoji, segoe ui emoji, noto color emoji, segoe ui symbol;
}
form {
    display: contents;
}
.is-fullwidth {
    width: 100%;
}
.title {
    font-weight: bold;
}
.scrollable-table {
    width: 100%;
    overflow-x: auto;
}

.tab.is-active {
    display: block;
}

.tab {
    display: none;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.flipx {
    transform: scaleX(-1);
}

table {
    direction: rtl;
}

table>*>*>* {
    text-align: right !important;
}

table .button {
    direction: ltr;
}

nav .buttons>* {
    margin: 0 5px 0;
}